.search-container {
    background-color: #dfdfdf;
    padding: 20px;

}

.search-bar label{
    font-size: 18px;
    padding: 5px;
    font-weight: bold;
}

.type-selector {
    zoom: 1.2;
    padding: 5px;
}
.search-box{
    width: 400px;
    height: 34px;
    border-collapse: collapse;
    margin: 5px;
}
.search-btn{
    width: 70px;
    height: 34px;
}
