.App {
  text-align: center;
  width: 100vw;

  top: 0;
  left: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 22px;
}

.nav-links {
  font-size: 18px;
  color: #161616;
}

.nav-links:hover{
  color: #161616;
  text-decoration: none;
}

.main-container {
  margin: 20px;
}